.body {
    background-color: green;
    margin: auto;
    width: 100%;
    height: 100%;
}

.Title{
    background-color: pink;
    padding-left: 100px;

}

.sidebar {
    float: left;
    width: 200px;
    height: 250px;
    background-color: yellow;
    margin-bottom: 50px;
}

.Pengenalan{
    background-color: red;
    position: relative;
    float: left;
    width: 600px;
    margin-bottom: 50px;
    height: 250px;
}

@media (min-width: 576px){
    body {
        background-color: purple;
    }
    
    .Title{
        background-color: green;
        padding-left: 100px;
    
    }
    
    .sidebar {
        float: left;
        width: 25%;
        height: 250px;
        background-color: brown;
        margin-bottom: 50px;
    }
    
    .Pengenalan{
        background-color: burlywood;
        position: relative;
        float: left;
        width: 25%;
        margin-bottom: 50px;
        height: 600px;
    }
}

@media (min-width: 768px){
    body {
        background-color: navy;
    }
    
    .Title{
        background-color: greenyellow;
        padding-left: 100px;
    
    }
    
    .sidebar {
        float: left;
        width: 200px;
        height: 250px;
        background-color: blueviolet;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 100px;
    }
    
    .Pengenalan{
        background-color: rosybrown;
        position: relative;
        float: left;
        width: 50%;
        margin-bottom: 50px;
        height: 250px;
        padding-left: 10px;
        padding-right: 100px;
    }
}

@media (min-width: 992px){
    body {
        background-color: gold;
    }
    
    .Title{
        background-color: silver;
        padding-left: 100px;
    
    }
    
    .sidebar {
        float: left;
        width: 200px;
        height: 250px;
        background-color: lightblue;
        margin-bottom: 50px;
    }
    
    .Pengenalan{
        background-color: lightcoral;
        position: relative;
        float: left;
        width: 600px;
        margin-bottom: 50px;
        height: 250px;
    }
}

@media (min-width: 1200px){
    body {
        background-color: lightslategrey;
    }
    
    .Title{
        background-color: limegreen;
        padding-left: 100px;
    
    }
    
    .sidebar {
        float: left;
        width: 200px;
        height: 250px;
        background-color: darkgoldenrod;
        margin-bottom: 50px;
    }
    
    .Pengenalan{
        background-color: lemonchiffon;
        position: relative;
        float: left;
        width: 600px;
        margin-bottom: 50px;
        height: 250px;
    }
}